body {
  /* min-height: 2000px;*/
   background-color: #eee;
}

.bg-fen {
	background-color: #0038aa;
}

.bg-fen-nav {
	background-color: white;
    color: grey;
}

.bg-white {
	background-color: white;
}

.right {
	text-align: right;
	float: right;
}

.center {
    text-align: center !important;
}
.left {
    text-align: left;
    float: left;
}

.jumbotron {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 12px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
}

.white {
    background-color: white;
}

.bibliodoc li {
    padding: 12px;
    list-style-type: none;
}
/*.btn-sm {
	margin-bottom: 12px;
}*/

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
    padding-bottom: 16px;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}